/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optionally add custom styles or variables below. */
:root {
  --color-primary: #ffd43b; /* Adjust brand color as needed */
  --color-bg: #000;
  --color-text: #ffff
  
}
